body{
    background-image: url("classical_colorful.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70%;
    font-weight:600;
    font-style: italic;
    text-align:center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 6.5;
    letter-spacing: 4px;
}

a{
    text-decoration: none;
}
